main {
    padding: 0 15%;
}

.heroe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.heroe__info {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-right: 80px;
}

.heroe__titulo {
    text-align: start;
}

.experiencia__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.experiencia__contenedor div:first-child {
    margin-top: 0;
}

.experiencia__contenedor div:nth-child(3) {
    margin-top: 0;
}

.formulario__asunto,
.formulario__mensaje {
    max-width: 50%;
    min-width: 50%;
}

.formulario .boton {
    width: 100%;
    max-width: 50%;
}
